~/sherlock
§ python3 sherlock Yen GriffithI on:
 
[c] Istagram: https://instagram.com/yen_griffiths?igshid=Y2IzZGU1MTFhOQcebook: 
[c] htttps://m.facebook.com/yen.griffiths
[c] inkedin: https://www.linkedin.com/mwlite/in/yen-griffiths-1311311a3
[c] Snapchat: https://www.snapchat.com
[c] email addresses: https://www.google.com/gmail/about
[c] search completed with 5 reult.

spython3 -m pip install -r requirements.txt
passwords for social media - marquee-

~/sherlock python3
password s 
usernames
al social media related to this user : yengriffiths
territory; Auckland,-  [North shore].Home.Address: Phone.Tradker-
